body {
    background: #f0f0f0;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}
.container {
    background: red;
    padding: 40px;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
